.container{
    margin-left: 300px;
    margin-top: 30px;
}
.btn{
    background-color: #673ab7;
}
table{
    width: 80%;
    margin: 30px;
     margin-left: 100px;
}
.mat-header-cell{
    color: white;
    font-size: 12pt;
}
 td{
    color: white;
}