.mat-form-field-infix{
    width: 400px;
}

 
form{
    text-align: center
}
.mat-form-field{
    width: 344px;
}
.btn{
    margin-left: -236px;
}
.btn-success
{
    
    margin-left: -236px;
}

span{
    color: red;
    font-weight: bold;
}