<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">A quiz is a form of game or mind sport, in which the players attempt to answer questions correctly. It is a game to test your knowledge about a certain subject. In some countries, a quiz is also a brief assessment used in education and similar fields to measure growth in knowledge, abilities, and/or skills.!</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">In an educational context, a quiz is usually a form of a student assessment, but often has fewer questions of lesser difficulty and requires less time for completion than a test.!</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        Download Now!
      </a>
    </div>
  </div>
</section>