<div *ngIf="this.listOfTestImagesHide == false">
  <section class="portfolio" id="portfolio">
    <div class="container"><a (click)="question('test')" style="font-weight: 16pt;font-size: x-large;" ><strong> Test </strong></a>
      <h4 class="text-center text-uppercase text-secondary mb-0">  List Of  Quiz   </h4>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/bootstrap.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/css.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question(26)">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/python.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/angular.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/mogodb.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/node.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question(25)">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/c.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question(4)">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/cplus.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/dotnet.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question(23)">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/java.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/sql.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <a class="portfolio-item d-block mx-auto" (click)="question()">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/quiz-images/jquery.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

</div>

<!--  -->
<!--  -->
<!--  -->
<!--  -->

 
<div *ngIf="this.listOfTestImagesHide == true">

  <div class="container" id="leftInstruction" *ngIf="instructionHideShowCard == true">

    <div class="row">
      <div class="col-md-6">

        <mat-card class="example-card-instruction">
          <mat-card-header>
            <mat-card-title>
              <h4>Instructions</h4>
            </mat-card-title><br /><br />
          </mat-card-header>
          <mat-card-content>
            <h2>Instructions</h2>
            <p>This quiz consists of multiple-choice questions. To be successful with the quizzes, it’s important to
              thoroughly read all technology quiz like (c,c++,java....) in the quiz. It will also be extremely useful
              to study / interview preparation the key terms at the end of the quiz review the Test Your Knowledge
              activity at the end of the quiz. Keep the following in mind:</p>

            <ul>
              <li><strong> Attempts</strong> - You will have one day one attempts for this quiz with your score being
                display in screen/your account result section in your account profile.</li>
              <li><strong> Timing </strong>- You will need to complete each of your attempts in one sitting, as you are
                allotted time to complete each attempt quiz.</li>
              <li><strong>Answer </strong> - You may review your answer-choices and compare them to the correct answers
                after your final attempt.</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>



      <div class="col-md-6">
        <mat-card class="example-card-instruction">
          <mat-card-header>
            <mat-card-title>
              <h4>Instructions</h4>
            </mat-card-title><br /><br />
          </mat-card-header>
          <mat-card-content>
            To start, click the "Take the Quiz" button. When finished, click the "Submit Quiz" button.
            <mat-card class="example-card-instruction-start" style="margin-top: 50px;
            margin-left: 60px;">
              <mat-card-header>
                <mat-card-title>

                  <h6 style="color:rgb(197, 14, 14);margin-left: -16px">Click the Submit Quiz Button Then Start Quiz...</h6>
                </mat-card-title><br /><br />
              </mat-card-header>
              <mat-card-content>
                <mat-icon style="color:white;margin-left:174px">keyboard_arrow_down</mat-icon><br />
                <button class="btn btn-success" (click)="instruction()" [disabled]="startQuizBtn" type="submit">Start
                  Quiz</button>

                <h5 style="color:white"> <br>!!! best of luck !!!</h5>
              </mat-card-content>
            </mat-card>




          </mat-card-content>
        </mat-card>


      </div>

    </div>




  </div>











  <div *ngIf="startQuizBtnVal == true">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h4 style="margin-left: 450px">Attempt quiz</h4>
        </mat-card-title><br /><br />
      </mat-card-header>
      <mat-card-content>
        <div class="col-md-2" style="float:right;">

          <countdown [config]="{leftTime: 5 * 10}" #cd1 (event)="onEvent($event)">$!m!:$!s!</countdown>

        </div>
        <div class="col-md-10">
          &nbsp;
        </div>

        <form class="example-form">
          <div *ngFor="let data of this.fetchPaperQuestion  | paginate: { itemsPerPage: 1, currentPage: p }; let i = index  ">
            <P style="font-size: 13pt"> <strong style="margin-left: 40px"> Question </strong> {{p}} : {{
              data.questionText }}</P>
                
            <mat-radio-group>
              <div *ngFor="let ans of data.options; let i = index" style="margin-left: 100px">
               <!-- <div *ngIf="i == radioStore.get(p)" > -->
                <div *ngIf="i == radioStore[p]" >
                <mat-radio-button style="font-size: 13pt" [checked]="true" (change)="checkAnswer(ans.answerCorrect,data.questionId,p,i)" name="" value="{{ ans .answerText}}">{{ans.answerText}}</mat-radio-button>  
               
               </div>
               <!-- <div *ngIf="i != radioStore.get(p)" > -->
                <div *ngIf="i != radioStore[p]" >
                <mat-radio-button style="font-size: 13pt" [checked]="false" (change)="checkAnswer(ans.answerCorrect,data.questionId,p,i)" name="" value="{{ ans .answerText}}">{{ans.answerText}}</mat-radio-button>  
               
               </div> 
               
              </div>
            </mat-radio-group>
          </div>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="p == this.fetchPaperQuestion.length">

        <button id="btnSubmit" class="btn btn-primary" type="submit" mat-raised-button (click)="Result()">Submit Quiz</button>
      </div>
    </mat-card>
  </div>
 </div>